.idea/
.vscode/
node_modules/
build/
tmp/
temp/

# Ignore log files
logs/*.log
docker/mysql/logs/*.log
docker/nginx/logs/*.log

# Ignore dotenv files
.env
.env.development
.env.production
.env.test

# Ignore test-related files
/coverage/

# Serverless
.build
.serverless